* {
  margin: 0;
  box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

:root {
  --highlight-color: #8cc63e;
  --primary-color: #404040;
  --secondary-color: #f1f1f1;
}

html {
  font-size: calc(16px + 0.5vmax);
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  line-height: 1.5;
}

body {
  background-color: var(--secondary-color);
}

h2 {
  font-size: 3.5rem;
  font-weight: 700;
  line-height: 1.1;
}

h3 {
  font-size: 2.5rem;
  font-weight: 700;
  line-height: 1.25;
  max-width: 16ch;
  text-wrap: balance;
}

section.vid {
  height: 600vh;
  position: relative;
}

section.vid div.holder {
  position: sticky;
  top: 0;
}

section.vid video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

section.vid div.story {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  color: var(--secondary-color);
}

section.vid div.story div {
  height: 100vh;

  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

@media (max-width: 720px) {
  header {
    display: block;
  }

  h2 {
    font-size: 2rem;
  }

  h3 {
    font-size: 1.5rem;
  }

  header h1 {
    margin: 0 0 1rem 0;
  }

  header nav {
    flex-direction: column;
    align-items: center;
    gap: 0;
  }

  section.hero,
  section.intro,
  section.savvy {
    margin: 1rem;
    padding: 1rem;

    grid-template-columns: 1fr;
    gap: 1rem 0;
  }
}
